@model HoshuSagyo.Models.Transactions.ShimekiriModel
@{
    ViewData["Title"] = "締切画面";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">締切画面</a>.</p>
    <p>@Model.Kankatsu</p>
</div>
