@model HoshuSagyo.Models.Transactions.ShimekiriModel
@{
    ViewData["Title"] = "締切画面";
}

<div class="text-center">
    <h1 class="display-6">締切画面</h1>
    <form asp-controller="Shimekiri" asp-action="DoShimekiri" method="post">
        <div class="container p-3 w-50">
            <div class="form-floating">
                <input id="now-shimekiriBi" class="form-control" name="shimekiriBi" type="text" value="@Model.ShimekiriZumiBi.Value.ToShortDateString()" disabled="disabled"/>
                <label for="now-shimekiriBi">現在の締切済日</label>
            </div>
            <div class="form-floating">
                <input id="new-shimekiriBi" class="form-control" name="shimekiriBi" type="text" value="@Model.ShimekiriZumiBi.Value.AddMonths(1).ToShortDateString()"/>
                <label for="new-shimekiriBi">新しい締切日</label>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="締切"/>
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">戻る</a>
    </form>
</div>
