
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a id="about" class="nav-link" asp-controller="Home" asp-action="About">概要</a></li>
    <li class="nav-item"><a id="transitionDiagram" class="nav-link" asp-controller="Home" asp-action="TransitionDiagram">画面遷移図</a></li>
    <li class="nav-item"><a id="screenExplanation" class="nav-link" asp-controller="Home" asp-action="ScreenExplanation">画面の説明</a></li>
    <li class="nav-item"><a id="usage" class="nav-link" asp-controller="Home" asp-action="Usage">使い方</a></li>
</ul>
