@{
    ViewData["Title"] = "操作方法";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_AboutNav" />
        </div>
        <div class="col-md-9">
            @*操作方法*@
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/about.js"></script>
}