@{
    ViewData["Title"] = "画面遷移図";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_AboutNav" />
        </div>
        <div class="col-md-9">
            <h3>画面遷移図</h3>
            <p>
                保守作業システムの画面遷移図です。<br />
                青色の画面はモーダルウィンドウで、小画面として起動されます。
            </p>
            <img class="img-fluid m-2" src="~/images/アプリ説明/画面遷移図.png" alt="画面遷移図" />
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/about.js"></script>
}