@model HoshuSagyo.Models.InputModels.SagyoKeikakuGamen
@{
    ViewData["Title"] = "作業計画参照画面";
}

<div class="text-center">
    <h1 class="display-6">作業計画参照画面</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="_SagyokeikakuPartial" model="Model">
    <div class="row justify-content-center">
        <div class="col">
            <a class="btn btn-outline-success" asp-controller="SagyoIchiran" asp-action="Index">戻る</a>
        </div>
    </div>
</div>

@section scripts{
    <script>
    // 編集不可の状態にする
    document.querySelectorAll("#sagyokeikaku-partial input").forEach(e => {
        if (e.type !== "hidden" && e.type !== "submit") {
            e.disabled = true;
        }
    });
    document.querySelectorAll("#sagyokeikaku-partial select").forEach(e => e.disabled = true);
    document.querySelectorAll("#sagyokeikaku-partial textarea").forEach(e => e.disabled = true);
    </script>
}