@model HoshuSagyo.Models.Transactions.SagyoKeikakuModel
@{
    ViewData["Title"] = "作業計画完了画面";
}

<div class="text-center">
    <h1 class="display-6">作業計画完了画面</h1>
    <p>作業計画の登録処理が完了しました</p>
    <p>
        <a class="btn btn-outline-success" asp-controller="SagyoKeikaku" asp-action="Index">戻る</a>
    </p>
</div>
