@model HoshuSagyo.Models.Transactions.SagyoKeikakuModel
@{
    ViewData["Title"] = $"作業計画{ViewData["SyoriNaiyo"]}完了画面";
}

<div class="text-center">
    <h1 class="display-6">作業計画<span>@ViewData["SyoriNaiyo"]</span>完了画面</h1>
    <p>作業計画の<span>@ViewData["SyoriNaiyo"]</span>処理が完了しました</p>
    <p>
        <a class="btn btn-outline-success" asp-controller="SagyoKeikaku" asp-action="Index">戻る</a>
    </p>
</div>
