@{
    ViewData["Title"] = "画面の説明";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="col">
            <h3>メニュー画面</h3>
            <img class="img-fluid border border-dark m-2" src="~/images/04_メニュー画面/01.png" alt="メニュー画面" />
            <p>
                メニューから画面を選択してください。
            </p>
            <a class="btn btn-outline-success" asp-controller="Home" asp-action="ScreenExplanation" asp-route-id="">戻る</a>
        </div>
    </div>
</div>
