@{
    ViewData["Title"] = "画面の説明";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="col">
            <h3>作業計画編集画面</h3>
            <img class="img-fluid border border-dark m-2" src="~/images/07_作業計画編集画面/01.png" alt="作業計画編集画面" />
            <p>
                作業計画の編集を行います。<br />
                作業一覧画面で「編集」リンクをクリックしたとき、この画面に遷移します。<br />
                以下の表を確認し、必要な情報を入力して編集処理を実行してください。
            </p>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>入力項目</th>
                        <th>必須</th>
                        <th>説明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>作業番号</td>
                        <td>－</td>
                        <td>作業一覧画面から表示した際に作業番号付与済みであれば表示されます（編集不可）</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>締切済日</td>
                        <td>－</td>
                        <td>ユーザーの管轄に紐づく締切済日が表示されます（編集不可）</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>作業開始日時</td>
                        <td>◯</td>
                        <td>カレンダーから日時の選択ができます。日付は締切済日よりも後でなければいけません。</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>作業終了日時</td>
                        <td>◯</td>
                        <td>カレンダーから日時の選択ができます。日付は締切済日よりも後でなければいけません。</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>系統</td>
                        <td>◯</td>
                        <td>ドロップダウンから選択してください</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>管轄</td>
                        <td>◯</td>
                        <td>ドロップダウンから選択してください</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>作業種別</td>
                        <td>◯</td>
                        <td>ドロップダウンから選択してください</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>作業場所</td>
                        <td>◯</td>
                        <td>ドロップダウンから選択してください</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>作業内容</td>
                        <td>◯</td>
                        <td>90文字以内で入力してください</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>自社責任者名</td>
                        <td>－</td>
                        <td>20文字以内で入力してください</td>
                    </tr>
                    <tr>
                        <th>11</th>
                        <td>自社作業員数</td>
                        <td>－</td>
                        <td>999までの整数で入力してください</td>
                    </tr>
                    <tr>
                        <th>12</th>
                        <td>協力会社責任者名</td>
                        <td>－</td>
                        <td>20文字以内で入力してください</td>
                    </tr>
                    <tr>
                        <th>13</th>
                        <td>協力会社作業員数</td>
                        <td>－</td>
                        <td>999までの整数で入力してください</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-outline-success" asp-controller="Home" asp-action="ScreenExplanation" asp-route-id="">戻る</a>
        </div>
    </div>
</div>
