@{
    ViewData["Title"] = "画面の説明";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="col">
            <h3>作業計画削除画面</h3>
            <img class="img-fluid border border-dark m-2" src="~/images/10_作業計画削除画面/01.png" alt="作業計画削除画面" />
            <p>
                作業計画の削除を行います。<br />
                作業一覧画面で「削除」リンクをクリックしたとき、この画面に遷移します。
            </p>
            <a class="btn btn-outline-success" asp-controller="Home" asp-action="ScreenExplanation" asp-route-id="">戻る</a>
        </div>
    </div>
</div>
