@{
    ViewData["Title"] = "画面の説明";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="col">
            <h3>作業番号付与完了画面</h3>
            <img class="img-fluid border border-dark m-2" src="~/images/18_作業番号付与完了画面/01.png" alt="作業番号付与完了画面" />
            <p>
                作業番号付与処理が成功した場合、この画面に遷移します。<br />
                戻るボタンを押下すると、作業番号付与画面に遷移します。
            </p>
            <a class="btn btn-outline-success" asp-controller="Home" asp-action="ScreenExplanation" asp-route-id="">戻る</a>
        </div>
    </div>
</div>
